<% provide(:title, 'Browse Teachers') %>
<h1>Browse Teachers</h1>
<p class="center">
  This page is not finished yet. Check it later, dudes.<br/>
  
  <%= link_to "Back to homepage", root_path %>
</p>