<div class="center hero-unit">
  <h1>Musicguruz</h1>

  <h2>
    This is a click-through mock-up for Musicguruz,<br/> the online marketplace for webcam music lessons
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://rubyonrails.org/images/rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
