<% provide(:title, 'Lesson') %>

<div class='row'>
	<div class='span12' style="margin-bottom: 20px;">

		<iframe width="100%" height="530" src="//www.youtube.com/embed/GHO4o4JAlWY" frameborder="0" allowfullscreen></iframe>

	</div>
</div>
<div class='row'>
	<div class='span6 content' height="300px" style="padding:1em;">
		<h2>Notes</h2>
		Pick up guitar<br />
		Place on knee<br />
		???<br />
		Become excellent<br />
	</div>
	<div class='span6 content' height="300px" style="padding:1em;">
		<h2>Documents</h2>
		<table class="filetypes">
			<tr>
				<td>
					<%= image_tag("file_pdf.png", alt: "PDF")  %>
				</td>
				<td>
					Pentatonic Scale.pdf
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("speaker.png", alt: "MP3")  %>
				</td>
				<td>
					Pentatonic Scale.mp3
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("file_pdf.png", alt: "PDF")  %>
				</td>
				<td>
					Stairway to Heaven tab.pdf
				</td>
			</tr>
		</table>
	</div>
	
</div>

